@font-face {
  font-family: 'oswald';
  src: url('oswald.ttf') format('truetype');
}

* {
  font-family: oswald;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #380036, #0CBABA, #380036, #0CBABA, #000000);
	background-size: 1000% 1000%;
	animation: gradient 100s ease-in-out infinite;
  padding: 25px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#navigation_bar {
  height: 10%;
  background-color: #000000;
  border-radius: 50px;
}

#logo {
  height: 25px;
  width: 100px;
}

#navbarSupportedContent ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
#navbarSupportedContent ul li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

#navbarSupportedContent ul li a {
  color: #B0BEC5;
}

#navbarSupportedContent ul li a:hover {
  color: #FFFFFF;
}

#navbarSupportedContent button {
  border-radius: 50px;
  background: linear-gradient(-45deg, #380036, #0CBABA, #380036, #0CBABA, #000000);
	background-size: 800% 800%;
  animation: gradient 100s ease-in-out infinite;
  border-color: #000000;
  border-width: 2px;
}

#navbarSupportedContent button:hover {
  border-color: #FFFFFF;
}

.page {
   width: 100%;
   height: 90vh;
   background-color: #000000;
   border-width: 7px;
   border-color: #FFFFFF;
   border-radius: 50px;
   margin-top: 45px;
   color: #FFFFFF;
}

#first_page {
  height: 77vh;
}

#contact_us {
  height: 30vh;
}

#mentions {
  padding-top: 10px;
  text-align: center;
  height: 10vh;
}
