#log_in_form {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  padding-top: 10%;
}

#log_in_form input {
  border-radius: 50px;
}

#log_in_form button {
  height: 45px;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(-45deg, #380036, #0CBABA, #380036, #0CBABA, #000000);
	background-size: 800% 800%;
  animation: gradient 100s ease-in-out infinite;
  border-color: #000000;
  border-width: 2px;
}

#log_in_form button:hover {
  border-color: #FFFFFF;
}
