<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home"><b>MLyze</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/text">Text</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutUs">About us</a>
                    </li>
                    <li>
                        <a href="/login"><button class="btn btn-outline-success" type="button">Login/Register</button></a>
                    </li>
                    <!-- <a class="btn btn-outline-success nav-item nav-link" href="login.html"><button>Login</button></a> -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div>
            <h2><b>How MLyze is intent to work</b></h2>
        </div>
        <div>
            <h3>Connect your text data</h3>
        </div>
        <div>
            <h3>Turn your text into tags</h3>
            <h5>Use text analysis models to tag your text automatically. Select from premade models, or build your own custom classifiers and extractors, powered by machine learning.</h5>
        </div>
        <div>
            <h3>Put your tags to work</h3>
            <h5>Use your MonkeyLearn tags to make new information about your business, and to build new workflows in your apps</h5>
            <h6>Inject tags back into your existing apps so you can analyze your data or automate workflows within your apps</h6>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>