{% extends 'base_one.html' %}

{% block content %}
<div class="page" id="first_page">
  <form id="log_in_form">
    <div class="form-group">
      <label for="exampleInputEmail1">EMAIL ADDRESS:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ENTER EMAIL ADDRESS">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">PASSWORD:</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="ENTER PASSWORD">
    </div>
    <button type="submit" class="btn btn-primary">LOG IN / REGISTER</button>
  </form>
</div>
{% endblock %}