{% extends "nav.html" %}
{% block title %} login {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<!-- Material form login -->
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Sign in</strong>
  </h5>

  <br />
  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Default form login -->
    <form class="text-center border border-light p-5" action="{{ url_for('login')}}" method="POST">


      <!-- Email -->
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" name="email" value="{{request.form.email}}" required>

      <!-- Password -->
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password" value="{{request.form.password }}" required>

      <!-- Sign in button -->
      <button class="btn btn-info btn-block my-4" type="submit" value="login">Sign in</button>

      <!-- Register -->
      <p>Not a member?
        <a href="/register">Register</a>
      </p>

      {% if error%}
        <p class="error error--hidden">{{error}}</p>
      {% endif %}
    </form>
    <!-- Default form login -->
  </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}